<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap"
rel="stylesheet">
  <link rel = "stylesheet" href = "/style.css">
  <title></title>
</head>
<body>
  
  <div class = "header-sec">
    <img src =
    "https://upload.wikimedia.org/wikipedia/commons/thumb/9/93/Facebook_logo_%282023%29.svg/2560px-Facebook_logo_%282023%29.svg.png"
    width = "150px">
  </div>
  
  <div class = "post_container">
      <div class = "post_header">
        <h3>
          <%= post.name %>
        </h3>
        <p>
          's Post         
        </p>
        <a href = "http://localhost:3000/posts/<%=post.id%>/edit">
        <img src =
        "https://cdn3.iconfinder.com/data/icons/feather-5/24/edit-512.png" width
        = "20px" >
        </a>
        <form method = "post" action = "/posts/<%=post.id%>?_method=DELETE">
        <button class = "delete-post-btn">
          <img src =
          "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTE9RZ_5DGMCOVty4K1-7XqqW53q-km4iZ88A&usqp=CAU"
          width
          = "20px" >
        </button>
        </form>
      </div>
      <p class = "post_time">
       <%= post.postTime %>
      </p>
      <p class = "post_caption">
       <%= post.postCaption %>
      </p>
      <% if(post.postImage){ %>
      <img src = "<%= post.postImage %>" width="100%" >
      <% } %>
      <div class = "likes_comments">
        <div class = "likes_count">
          <img src =
          "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcU0hP-3598qb2A3xkmbz4m8DUSvd2KAbyUA&usqp=CAU"
          width = "30px">
          <p>
            <%= post.likes %> likes
          </p>
        </div>
        <div class = "comments_count">
          <img src =
          "https://static.thenounproject.com/png/1314304-200.png"
          width = "30px">
          <p>
            <%= post.comments %> comments
          </p>
        </div>
      </div>
    </div>
    <div class = "comments-showing-feature">
      <%= post.comments %> comments
      <p>
      *comment feature still under build
      </p>
    </div>
  <div class = "footer">
    All copyright reserved MAGVYER©2024
  </div>
</body>
</html>




